---
layout: base/base.njk
title: 404
permalink: /404.html
---

<section>
    <div class="container relative">
        <div class="flex flex-col justify-center items-center gap-[20px]">
            <h1 class="text-[45px] text-center text-sky-blue">Page not found</h1>
            <a href="/" class="text-sky-blue">Return Home</a>
        </div>
    </div>
</section>