---
layout: base/base.njk
title: 404
permalink: /404.html
---

<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col justify-center items-start gap-[20px]">
            <h1 class="heading-1-bold text-sky-blue">Page not found</h1>
            <h2 class="body text-gun-grey">That page does not exist.
            </h2>
            <a class="button-primary body cursor-pointer" href="/">Back to home</a>
        </div>
    </div>
</section>