---
layout: base/base.njk
title: "Gifts"
---

<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px]">
            <p class="body uppercase text-sky-blue">Your presence at our wedding is the greatest gift we could ask for.
                Should you wish to honour us with a gift, we would be grateful for a contribution toward our Honeymoon,
                which may be made via the bank details below.

            </p>
            <div class="flex flex-col">
                <p class="body text-sky-blue uppercase">megan tumelty
                </p>
                <p class="body text-sky-blue uppercase">
                    sort code: 40-04-00
                </p>
                <p class="body text-sky-blue uppercase">
                    account number: 11864483

                </p>
                <p class="body text-sky-blue uppercase">
                    bank: HSBC
                </p>
            </div>
        </div>
    </div>
</section>