---
layout: base/base.njk
title: "Home"
---
<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px]">
            <img src="/assets/images/willtower.webp" alt="Willtower Building">
            <p class="body uppercase text-sky-blue">the wooltower raceview mill, broughshane, ballymena, northern
                ireland, bt42 4jj
            </p>
            <div class="flex gap-[10px]">
                <a class="button-primary" href="https://maps.app.goo.gl/9pY2kk9Jph93z21s7?g_st=ic">Google Maps</a>
                <a class="button-primary"
                    href="https://maps.apple.com/?address=9%20Mill%20Road,%20Broughshane,%20Ballymena,%20BT42%204FA,%20Northern%20Ireland&auid=15954542614032944254&ll=54.889691,-6.221185&lsp=9902&q=The%20Wool%20Tower">Apple
                    Maps</a>
            </div>
        </div>
    </div>
</section>