---
layout: base/base.njk
title: ""
description: ""
---
<section class="py-[100px]">
    <div class="container relative">
        <p class="body uppercase text-sky-blue">Roast Antrim Turkey with Honeyed Ham and Herb Stuffing served with a
            Rich Gravy Jus.</p>
        <br />
        <p class="body !font-bold uppercase">or</p>
        <br />
        <p class="body uppercase text-sky-blue">Slow Cooked Daube of Beef served with a Burgundy Gravy Jus.</p>
        <br />
        <p class="body uppercase text-sky-blue">Both dishes are served with Buttery Mash and Medley of Seasonal
            Vegetables and Dauphinoise Potatoes.</p>

    </div>
</section>