---
layout: base/base.njk
title: "Menu"
---
<section class="py-[100px]">
    <div class="container relative">
        <p class="body uppercase">Starter</p>
        <p class="body uppercase text-sky-blue">parsnip and bacon soup </p>
        <br />
        <p class="body uppercase">Main</p>
        <p class="body uppercase text-sky-blue">roast antrim turkey with honeyed ham and herb stuffing served with a
            rich gravy jus</p>
        <br />
        <p class="body uppercase text-sky-blue">or</p>
        <br />
        <p class="body uppercase text-sky-blue">slow cooked daube of beef served with a burgundy gravy jus</p>
        <br />
        <p class="body uppercase text-sky-blue">Both dishes are served with Buttery Mash and Medley of Seasonal
            Vegetables and Dauphinoise Potatoes</p>
        <br />
        <p class="body uppercase">Dessert</p>
        <p class="body uppercase text-sky-blue">trio of sticky toffee pudding, strawberry cheesecake and banoffee
            brownie</p>
        <br />

    </div>
</section>