---
layout: base/base.njk
title: "Questions and Answers"
description: ""
---
<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px]">
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">Will there be parking provided?</p>
                <p class="body text-sky-blue">There is ample private car parking facilities available at the
                    wooltower.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">are taxi’s available from the venue?</p>
                <p class="body text-sky-blue">Yes, there are a number of taxi companies in ballymena to choose
                    from. it
                    is essential to pre-book your taxi in advance! we recommend e-cars n.i (02825 652 200) or tc bros
                    taxis (02825 644 440).
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">what are my accomodation options?</p>
                <p class="body text-sky-blue">While there is no accommodation available at the venue, there
                    are plenty
                    of nearby hotels in ballymema. we recommend the galgorm resort and spa, tullyglass house hotel,
                    leighinmohr house or the adair arms.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">can i bring a plus one?</p>
                <p class="body text-sky-blue">We kindly ask that only those named on your invitation attend
                    the wedding and reception at the wooltower.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">are kids invited?</p>
                <p class="body text-sky-blue">While we love your little ones, we ask that only children named
                    on your invitation are in attendance.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">will it be an unplugged ceremony?</p>
                <p class="body text-sky-blue">
                    Yes, we want you to be present and in the moment so we ask that you put your phones away for our
                    ceremony. our very talented phographer will capture all the important moments. we would also ask
                    that all guests refrain from posting any photos from our wedding on social media until we have
                    shared our official photos.
                </p>
            </div>
        </div>
    </div>
</section>