---
layout: base/base.njk
title: "Questions and Answers"
---
<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px]">
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">Will there be parking provided?</p>
                <p class="body text-sky-blue uppercase">There is ample private car parking facilities available at The
                    Wooltower.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">are taxi’s available from the venue?</p>
                <p class="body text-sky-blue uppercase">Yes, there are a number of taxi companies in Ballymena to choose
                    from. It
                    is essential to pre-book your taxi in advance! We recommend E-Cars N.I. (02825 652 200) or TC Bros
                    Taxis (02825 644 440).
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">what are my accomodation options?</p>
                <p class="body text-sky-blue uppercase">While there is no accommodation available at the venue, there
                    are plenty
                    of nearby hotels in Ballymena. We recommend The Galgorm Resort and Spa, Tullyglass House Hotel,
                    Leighinmohr House or The Adair Arms.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">can i bring a plus one?</p>
                <p class="body text-sky-blue uppercase">We kindly ask that only those named on your invitation attend
                    our wedding
                    and reception at The Wooltower.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">are kids invited?</p>
                <p class="body text-sky-blue uppercase">While we love your little ones, we ask that only children named
                    on your
                    invitation are in attendance.
                </p>
            </div>
            <div class="flex flex-col gap-[20px]">
                <p class="body !font-bold uppercase">will it be an unplugged ceremony?</p>
                <p class="body text-sky-blue uppercase">
                    Yes, we want you to be present and in the moment so we ask that you put your phones away for our
                    ceremony. Our very talented photographer will capture all the important moments. We would also ask
                    that all guests refrain from posting any photos from our wedding on social media until we have
                    shared our official photos.
                </p>
            </div>
        </div>
    </div>
</section>