---
layout: base/base.njk
title: "Success"
---

<section class="py-[100px]">
  <div class="container relative">
    <div class="flex justify-center flex-col gap-[20px] items-start">
      <h1 class="heading-1-bold text-sky-blue">RSVP Sent!</h1>
      <h2 class="body text-gun-grey">We have got your RSVP and we look forward to seeing you on
        the big day!
      </h2>
      <a class="button-primary body cursor-pointer" href="/">Back to home</a>
    </div>
  </div>
</section>