---
layout: base/base.njk
title: "Timeline"
---

<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px] justify-center items-center">
            <p class="body uppercase text-sky-blue">
                Arrival 12:30
            </p>
            <p class="body uppercase text-sky-blue">
                Start: 13:30
            </p>
            <p class="body uppercase text-sky-blue">
                Photos & Cake: 14:15
            </p>
            <p class="body uppercase text-sky-blue">
                Call to Dinner: 16:30
            </p>
            <p class="body uppercase text-sky-blue">
                Speeches: 16:45
            </p>
            <p class="body uppercase text-sky-blue">
                Dinner: 17:45
            </p>
            <p class="body uppercase text-sky-blue">
                Band: 20:00
            </p>
        </div>
    </div>
</section>