---
layout: base/base.njk
title: ""
description: ""
---

<section class="py-[100px]">
    <div class="container relative">
        <div class="flex flex-col gap-[20px]">
            <p class="body uppercase text-sky-blue">Order of the day
            </p>
        </div>
    </div>
</section>